*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: Avenir, Helvetica, sans-serif;
    /* This defines what 1rem is */
    /* 1 rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  img:not([alt]) {
    border: 5px solid red;
  }
  
  ::selection {
    background-color: #0af;
    color: white;
  }